[Unit]
Description=DMA Observer Camera Service
After=network.target

[Service]
ExecStart=/usr/bin/python3 /home/mu/prj/dma/observer/observerEyes.py -c 0
Restart=always
RestartSec=10                       
StandardOutput=syslog               
StandardError=syslog                
SyslogIdentifier=dmaObserverEye0
WorkingDirectory=/home/mu/prj/dma/observer
Environment=PYTHONUNBUFFERED=1


[Install]
WantedBy=multi-user.target
