[Unit]
Description=DMA Observer Controller Service
After=observerEyes.service

[Service]
User=musengdir
ExecStart=/usr/bin/python3 /home/musengdir/prj/dma/observer/observerServer.py
Restart=always
RestartSec=10                       
StandardOutput=syslog               
StandardError=syslog                
SyslogIdentifier=dmaObserverServer
WorkingDirectory=/home/musengdir/prj/dma/observer
Environment=PYTHONUNBUFFERED=1


[Install]
WantedBy=musengdirlti-user.target
