<h1>Updating {objectName} Footprint</h1>
<div class="container border border-primary">
    <div class="row" align="right">
        <input class="btn btn-info" type="button" value="Return to Object" hx-target="#objectInteractor" hx-get='{harmonyURL}objects/{objectName}'">
    </div>
    <!-- <div class="row" align="right">
        <label for="objectMargin">Image Object Margin</label>
        <input type="number" class="form-control" name="objectMargin" value="50" min="50" max="200" hx-post='{harmonyURL}objects/{objectName}/margin', hx-target="#objectImageDiv">
    </div> -->
    <div class="row" align="right">
        <input type="button" class="btn btn-secondary" name="clear" value="Clear" onclick="clearPolygons()">
    </div>
    <div class="row" id="objectImageDiv">
        <img class="img-fluid border border-info border-2" id="objectImage" alt="Capture Image" src="data:image/jpg;base64,{encodedBA}" onclick="imageClickListener(event)" style="border-radius: 10px;">
    </div>
    <div class="row"><br></div>
    <div class="row">
        <div class="col">
            <form hx-post="{harmonyURL}objects/{objectName}/submit_subtraction" hx-target="#objectInteractor">
                <input hidden=true type="text" name="subtractionPolygon" id="subtractionPolygon" value="{selectionPolygon}">
                <input hidden=true type="text" name="camName" id="camName" value="{camName}">  
                <input type="submit" class="btn btn-danger" name="submitAlteration" value="Subtract Area">
            </form>
        </div>
        <div class="col">
            <form hx-post="{harmonyURL}objects/{objectName}/submit_addition" hx-target="#objectInteractor">
                <input hidden=true type="text" name="additionPolygon" id="additionPolygon" value="{selectionPolygon}" hx-post="{harmonyURL}objects/{objectName}/project_selection" hx-target="#objectInteractor">
                <input hidden=true type="text" name="camName" id="camName" value="{camName}">  
                <input type="submit" class="btn btn-success" name="submitAlteration" value="Add Area">
            </form>
        </div>
    </div>
    <script>
        function clearPolygons() {
            const additionPolygonField = document.getElementById(`additionPolygon`)
            const subtractionPolygonField = document.getElementById(`subtractionPolygon`)
            additionPolygonField.value = '[]'
            subtractionPolygonField.value = '[]'
            additionPolygonField.dispatchEvent(new Event('change'));
        }
        
        function imageClickListener(event) {
            const imgElem = document.getElementById(`objectImage`)
            bounds=imgElem.getBoundingClientRect();
            const left=bounds.left;
            const top=bounds.top;
            const x = event.x - left;
            const y = event.y - top;
            const cw=imgElem.clientWidth
            const ch=imgElem.clientHeight
            const iw=imgElem.naturalWidth
            const ih=imgElem.naturalHeight
            const px=x/cw*iw
            const py=y/ch*ih
            //console.log("img element points: ", px, py)
            const x_offset = 0
            const x_scale = 1
            const image_x = (px - x_offset) * x_scale
            const y_offset = 0
            const y_scale = 1
            const image_y = (py - y_offset) * y_scale
            const addFormField = document.getElementById(`additionPolygon`)
            const subtractFormField = document.getElementById(`subtractionPolygon`)
            var formValue
            try {
              formValue = JSON.parse(addFormField.value)
            }
            catch(err) {
              formValue = []
            }
            console.log(addFormField.value)
            formValue.push([~~image_x, ~~image_y])
            formValue = JSON.stringify(formValue)
            addFormField.value = formValue
            subtractFormField.value = formValue
            console.log(formValue)
            console.log("\n")
            addFormField.dispatchEvent(new Event('change'));

        }
    </script>
</div>