<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="/bootstrap.min.css">
    <script src="/bootstrap.min.js"></script>
    <script src="/htmx.min.js"></script>

    <style>
        table, th, td {
          border: 1px solid black;
          padding: 15px;
        }
        
        .x-box {
            position: relative;
            display: flex;
        }

        .x-box::before,
        .x-box::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 10; /* Ensures it appears over text */
            pointer-events: none; /* Allows interactions with underlying content */
        }

        .x-box::before {
            background: linear-gradient(30deg, transparent 49%, red 49%, red 51%, transparent 51%);
        }

        .x-box::after {
            background: linear-gradient(-30deg, transparent 49%, red 49%, red 51%, transparent 51%);
        }
    </style>
    
    <title>Harmony</title>
</head>
<body>
<div class="container">
    <h1 align="center">Harmony</h1>
    <div class="container">
        <div class="row">
            <div class="col" align="left">
                <form hx-post="{harmonyURL}load" hx-swap="none">
                    <input class="btn btn-warning" type="submit" value="Load Game">
                    <input class="text" value="Harmony" id="game_name" name="game_name">
                </form>
            </div>
            <div class="col" align="right">
                <input class="btn btn-info" type="button" value="Configurator" onclick="window.location.href='{configuratorURL}'">
            </div>
        </div>
    </div>
    <hr>
    <div class="row" style="min-width: 500px">
        <div class="container justify-content-center" align="center">
            <h3 id="GameWorldHeader" class="mt-5">Game World Views (Selected {defaultCamera})</h3>
            <input type="text" id="listenerOutput" value="" style="min-width=6em">
            <img id="GameWorld" class="img-responsive border border-3 border-info bg-primary" src="{harmonyURL}camWithChanges/{defaultCamera}" style="border-radius: 40px; max-width: 90%;" onclick="imageClickListener(event)">
            <script>
                function imageClickListener(event) {
                    console.log("Image clicked!!", event)
                    const imgElem = document.getElementById(`GameWorld`)
                    const bounds=imgElem.getBoundingClientRect();
                    console.log("img element bounds: ", bounds)
                    const left=bounds.left;
                    const top=bounds.top;
                    const x = event.x - left;
                    const y = event.y - top;
                    const cw=imgElem.clientWidth
                    const ch=imgElem.clientHeight
                    const px=x/cw*1080
                    const py=y/ch*1920
                    const x_offset = 0
                    const x_scale = 1
                    const image_x = (px - x_offset) * x_scale
                    const y_offset = 0
                    const y_scale = 1
                    const image_y = (py - y_offset) * y_scale
                    const listenerField = document.getElementById(`listenerOutput`)
                    var formValue
                    try {
                      formValue = JSON.parse(listenerField.value)
                    }
                    catch(err) {
                      formValue = []
                    }
                    console.log(listenerField.value)
                    formValue.push([~~image_x, ~~image_y])
                    formValue = JSON.stringify(formValue)
                    listenerField.value = formValue
                    console.log(formValue)
                    console.log("\n")
                    listenerField.dispatchEvent(new Event('change'));
                }
            </script>
        </div>
        <div class="container justify-content-center" align="center">
            <script>
            function liveCameraClick(camNum){{
                var header = document.querySelector("#GameWorldHeader")
                header.innerText = `Live Cameras (Selected ${camNum})`
                var img = document.querySelector("#GameWorld")
                img.src = `{harmonyURL}/camWithChanges/${camNum}`
            }}
            </script>
            {cameraButtons}
        </div>
        <hr>
    	<div class="row justify-content-center" align="center" style="min-width: 500px">
            <h1>Actions</h1>
            <div id="objectInteractor" class="container">
                <div id="objectFilterRetriever" hx-get="{harmonyURL}objects" hx-trigger="every 1s" hx-target="#objectInteractor"></div>
            </div>
            <hr>
            <div class="container" align="left">
                <form hx-post="{harmonyURL}save" hx-swap="none">
                    <input class="btn btn-success" type="submit" value="Save Game">
                    <input class="text" value="Harmony" id="game_name" name="game_name">
                </form>
            </div>
            <div class="container" align="right">
                <input class="btn btn-danger" type="button" value="Reset Game" hx-get="{harmonyURL}reset">
            </div>
        </div>
    </div>
</div>
</body>
</html>
