<h1>Updating {objectName} Footprint</h1>
<div class="container border border-primary">
    <div class="row" align="right">
        <input class="btn btn-info" type="button" value="Return to Object" hx-target="#objectInteractor" hx-get='{harmonyURL}objects/{objectName}'">
    </div>
    <div class="row" align="right">
        <label for="objectMargin">Image Object Margin</label>
        <input type="number" class="form-control" name="objectMargin" value="5" min="0" max="200" hx-post='{harmonyURL}objects/{objectName}/margin', hx-target="#objectImageDiv">
    </div>
    <div class="row" align="right">
        <input type="button" class="btn btn-secondary" name="clearAddition" value="Clear Addition" onclick="clearAddition(event)">
    </div>
    <div class="row" id="objectImageDiv">
        <img class="img-fluid border border-info border-2" id="objectImage" alt="Capture Image" src="data:image/jpg;base64,{encodedBA}" style="border-radius: 10px;">
    </div>
    <div class="row"><br></div>
    <div class="col">
        <form hx-post="{harmonyURL}objects/{objectName}/addition" hx-target="#objectImageDiv">
            <input hidden=true type="text" name="additionPolygon" id="additionPolygon" value="{objectAddition}" size="50" hx-post="{harmonyURL}objects/{objectName}/addition" hx-target="#objectImageDiv">  
            <input type="submit" class="btn btn-primary" name="submitAlteration" value="Submit Add Area">
        </form>
    </div>
    <script>
        function clearAddition(event) {
            const additionPolygonField = document.getElementById(`additionPolygon`)
            additionPolygonField.value = '[]'
        }
        
        function camClickListener(event) {
            const imgElem = document.getElementById(`objectImage`)
            bounds=imgElem.getBoundingClientRect();
            const left=bounds.left;
            const top=bounds.top;
            const x = event.x - left;
            const y = event.y - top;
            const cw=imgElem.clientWidth
            const ch=imgElem.clientHeight
            const iw=imgElem.naturalWidth
            const ih=imgElem.naturalHeight
            const px=x/cw*iw
            const py=y/ch*ih
            //console.log("img element points: ", px, py)
            const x_offset = 0
            const x_scale = 1
            const image_x = (px - x_offset) * x_scale
            const y_offset = 0
            const y_scale = 1
            const image_y = (py - y_offset) * y_scale
            const formField = document.getElementById(`additionPolygon`)
            var formValue
            try {
              formValue = JSON.parse(formField.value)
            }
            catch(err) {
              formValue = []
            }
            formValue.push([~~image_x, ~~image_y])
            formField.value = JSON.stringify(formValue)
            formField.dispatchEvent(new Event('change'));
        }
    </script>
</div>