<h1>Updating {objectName}</h1>
<div class="container border border-primary">
    <div class="row" align="right">
        <input class="btn btn-info" type="button" value="Return to table" hx-target="#objectInteractor" hx-get='{harmonyURL}objects_filter'">
        <input class="btn btn-secondary" type="button" value="Toggle Footprint" hx-target="#objectInteractor" hx-get='{harmonyURL}objects/{objectName}?footprint={footprintToggleState}'">
    </div>
    <div class="row">
        <img class="img-fluid border border-info border-2" alt="Capture Image" src="data:image/jpg;base64,{encodedBA}" style="border-radius: 10px; width:100%; height:100%; object-fit:contain;">
        <form hx-post="{harmonyURL}objects/{objectName}" hx-target="#objectInteractor">
            <label for="objectName">Name</label>
            <input type="text" class="form-control" name="objectName" value="{objectName}"><br>
            <label for="objectType">Type</label>
            <div id="objectSettings">{objectSettings}</div>
            <input type="submit" class="btn btn-primary" value="Update">
        </form>
    </div>
    <div class="row" align="right">
        <input class="btn btn-secondary" type="button" value="Alter Footprint" hx-target="#objectInteractor" hx-get='{harmonyURL}objects/{objectName}/footprint_editor'">
    </div>
    <div class="row"></div>
    <div class="row" align="right">
        <input class="btn btn-info" type="button" value="Delete Object" hx-target="#objectInteractor" hx-delete='{harmonyURL}objects/{objectName}'">
    </div>
</div>