<h1>Updating {objectName}</h1>
<div class="container border border-primary">
    <div class="row" align="right">
        <input class="btn btn-info" type="button" value="Return to table" hx-target="#objectInteractor" hx-get='{harmonyURL}objects'">
    </div>
    <div class="row">
        <form hx-post="{harmonyURL}objects/{objectName}" hx-target="#objectInteractor">
            <label for="objectName">Name</label>
            <input type="text" class="form-control" name="objectName" value="{objectName}"><br>
            <label for="objectType">Type</label>
            <div id="objectSettings">{objectSettings}</div>
            <input type="submit" class="btn btn-primary" value="Update">
        </form>
    </div>
    <div class="row" align="right">
        <input class="btn btn-info" type="button" value="Delete Object" hx-target="#objectInteractor" hx-delete='{harmonyURL}objects/{objectName}'">
    </div>
</div>