<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/bootstrap.min.css">
    <script src="/bootstrap.min.js"></script>
    <script src="/htmx.min.js"></script>
    
    <style>
        table, th, td {
          border: 1px solid black;
          padding: 15px;
        }
    </style>

    <title>Dice Collector</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <img id="diceCam" class="img-responsive border border-primary bg-primary" src="/cam" style="border-radius: 40px; max-width: 80%" onclick="camClickListener(event)">
            </div>
            <div class="col">
                <h2>Annotations</h2>
                <div id="annotations" class="container"> 
                </div>
                <input type="button" class="btn-primary" value="Start Capture" onclick="startCapture(event)">
                <input type="button" class="btn-primary" value="Clear Annotations/Stop Capture" onclick="clearAnnotations(event)">
            </div>
        </div>
    </div>
</body>
<script>
    let lastClick = null;
    function clearAnnotations(event) {
        const containerDiv = document.getElementById(`annotations`);
        while (containerDiv.firstChild) {
            containerDiv.removeChild(containerDiv.firstChild);
        }
        fetch('/clearannotations', {}).catch(error => {
            console.log('There was a problem with the clear annotations request:', error.message)});
    }

    function startCapture(event) {
        const containerDiv = document.getElementById(`annotations`);
        const annotations = []
        for (let child of containerDiv.children) {
            if (child.tagName != "BUTTON") {
                annotations.push({coords: child.children[0].textContent, value: child.children[1].value})
            }
        }
        fetch('/startcapture', {method: "POST", "body": JSON.stringify(annotations)}).catch(error => {
            console.log('There was a problem starting capture', error.message)});
    }

    function sendAnnotations() {
        const containerDiv = document.getElementById(`annotations`);
        const annotations = []
        for (let child of containerDiv.children) {
            if (child.tagName != "BUTTON") {
                annotations.push({coords: child.children[0].textContent, value: child.children[1].value})
            }
        }
        fetch('/annotations', {method: "POST", "body": JSON.stringify(annotations)}).catch(error => {
            console.log('There was a problem updating annotations', error.message)});
    }
    
    function camClickListener(event) {
        const imgElem = document.getElementById(`diceCam`)
        bounds=imgElem.getBoundingClientRect();
        const left=bounds.left;
        const top=bounds.top;
        const x = event.x - left;
        const y = event.y - top;
        const cw=imgElem.clientWidth
        const ch=imgElem.clientHeight
        const iw=imgElem.naturalWidth
        const ih=imgElem.naturalHeight
        const px=x/cw*iw
        const py=y/ch*ih
        //console.log("img element points: ", px, py)
        const x_offset = 0
        const x_scale = 1
        const image_x = (px - x_offset) * x_scale
        const y_offset = 0
        const y_scale = 1
        const image_y = (py - y_offset) * y_scale

        if (lastClick === null) {
            lastClick = [image_x, image_y]
        }else{
            const container = document.getElementById(`annotations`);
            const newDiv = document.createElement('div');
            const newCoordinates = document.createElement('div');
            newCoordinates.textContent = `{"p0": [${lastClick[0]}, ${lastClick[1]}], "p1": [${image_x}, ${image_y}]}`;
            const valueField = document.createElement('input');
            valueField.type = 'number';
            valueField.max = 20;
            valueField.min = 1;
            const deleteButton = document.createElement('button');
            deleteButton.textContent = 'Delete';
            deleteButton.addEventListener('click', function() {
                container.removeChild(newDiv);
            });
        
            // Append the delete button and the new div to the container
            newDiv.appendChild(newCoordinates);
            newDiv.appendChild(valueField);
            newDiv.appendChild(deleteButton);
            container.appendChild(newDiv);
            lastClick = null
            sendAnnotations();
        }
    }
</script>
</html>