<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="/bootstrap.min.css">
    <script src="/bootstrap.min.js"></script>

    
    <title>Observer Calibrator</title>
</head>
<body>

<div class="container">
    <h1 align="center">Observer Calibrator</h1>
    <h3><a href="/config">Configuration</a></h3>
    <div class="row" align="center">
        {calibratorControl}
    </div>
    <div class="row" align="center">
        {calibratorResult}
    </div>
    <div class="row" align="center">
        {calibrationMonitor}
    </div>
</div>
</body>
</html>