<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/bootstrap.min.css">
    <script src="/bootstrap.min.js"></script>
    
    <style>
        table, th, td {
          border: 1px solid black;
          padding: 15px;
        }
    </style>

    <title>Observer Control</title>
</head>
<body>
<div class="container">
    <h1 align="center">Observer Controller</h1>
    <h3><a href="/config">Config</a></h3>
    <div class="row">
        <div class="col">
            {cameraCaptures}
        </div>
        <div class="col">
            <h2 class="mt-5">Game Management</h2>
            <div class="container">
                <div class="row">
                    <div class="col offset" align="left">
                        <form method="post">
                            <input type="radio" id="null" name="capture_type" value="Null">
                            <label for="null">Null</label><br>
                            <input type="submit" value="Capture">
                        </form>
                    </div>
                    <div class="col offset d-flex align-items-center justify-content-center">
                        <div class="container">
                            <div class="row justify-content-center">
                                <iframe src="/console" style="width:100%;min-height:500px"></iframe>
                            </div>
                            <div class="row justify-content-center">
                                <form method="post">
                                    <input type="hidden" id="capture_type" name="capture_type" value="commit">
                                    <input type="submit" value="Commit Changes">
                                </form><br>
                                <form method="post">
                                    <input type="hidden" id="capture_type" name="capture_type" value="reject">
                                    <input type="submit" value="Reject Changes">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="container" align="center">
            <div class="row justify-content-center">
                <h2 class="mt-5">Capture Objects Table</h2>
            </div>
            <div class="row justify-content-center">
                <iframe src="/captureObjects" style="width:100%;min-height:300px"></iframe>
            </div>
        </div>
    </div>
</div>
</body>
</html>
