<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/bootstrap.min.css">
    <script src="/bootstrap.min.js"></script>
    
    <style>
        table, th, td {
          border: 1px solid black;
          padding: 15px;
        }
    </style>

    <title>Observer Control</title>
</head>
<body>
<div class="container">
    <h1 align="center">Observer Controller</h1>
    <h3><a href="/config">Config</a></h3>
    <div class="row">
        <div class="col">
            {cameraCaptures}
        </div>
        <div class="col">
            <h2 class="mt-5">Capture Control</h2>
            <div class="container">
                <div class="row">
                    <div class="col offset" id="captureControl" align="left">
                        <input type="radio" id="passive" name="capture_type" value="passive" checked onclick="setPassive();">
                        <label for="null">Passive</label><br>
                        <input type="radio" id="trackObjects" name="capture_type" value="trackObjects" onclick="setTracking();">
                        <label for="null">Track Objects</label><br>
                    </div>
                </div>
                <div class="row offset d-flex align-items-center justify-content-center">
                    <div class="container">
                        <div class="row justify-content-center">
                            <iframe src="/console" style="width:100%;min-height:500px"></iframe>
                        </div>
                        <div class="row justify-content-center">
                            <form method="post">
                                <input type="hidden" id="capture_type" name="capture_type" value="commit">
                                <input type="submit" value="Commit Changes">
                            </form><br>
                            <form method="post">
                                <input type="hidden" id="capture_type" name="capture_type" value="reject">
                                <input type="submit" value="Reject Changes">
                            </form>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="container" align="center">
            <div class="row justify-content-center">
                <h2 class="mt-5">Change Tracker</h2>
            </div>
            <div class="row justify-content-center">
                <div id="changeTable"></div>
            </div>
        </div>
    </div>
</div>
</body>
<script>
    async function refreshChangeTable(){
        const request = new Request("/objects");
        await fetch(request)
          .then((response) => {
            if (response.status === 200) {
                const element = document.getElementById("changeTable");
                return response.text()
            } else {
              throw new Error("Failed to retreive change table");
            }
          })
          .then((response) => {
            const element = document.getElementById("changeTable");
            element.innerHTML = response
          })
          .catch((error) => {
            console.error(error);
          });
    }
    
    setInterval(refreshChangeTable, 1500);
    
    async function setPassive(){
        const request = new Request("/control/set_passive");
        fetch(request)
    }
    
    async function setTracking(){
        const request = new Request("/control/set_tracking");
        fetch(request)
    }
</script>
</html>
