<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/bootstrap.min.css">
    <script src="/bootstrap.min.js"></script>
    
    <style>
        table, th, td {
          border: 1px solid black;
          padding: 15px;
        }
    </style>

    <title>Observer Control</title>
</head>
<body>
<div class="container">
    <h1 align="center">Observer Controller</h1>
    <h3 text-align="right"><a href="/config">Config</a></h3>
    <div class="row">
        <div class="col">
            <div class="container">
                <h2 class="mt-5">Capture Control
                <input type="button" id="passive" name="capture_type" value="Passive" checked onclick="setPassive();">
                <input type="button" id="active" name="capture_type" value="Active" onclick="setTracking();"></h2>
                <img src="/console">
            </div>
        </div>
        <div class="col">
            <h3 class="mt-5">Virtual Map</h3>
            <img src="/control/minimap" height=300px>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col">
            <div class="row">
                <h3 id="liveCamHeader" class="mt-5">Live Cameras (Selected 0)</h3>
                <img id="liveCam" src="/control/camWithChanges/0" style="transform: rotate(-90deg);">
            </div>
            <div class="row justify-content-center">
                <script>
                    function liveCameraClick(camNum){{
                        var header = document.querySelector("#liveCamHeader")
                        header.innerText = `Live Cameras (Selected ${camNum})`
                        var img = document.querySelector("#liveCam")
                        img.src = `/control/camWithChanges/${camNum}`
                    }}
                </script>
                {cameraButtons}
            </div>
        </div>
        <div class="col" align="center">
            <div class="container">
                <div class="row justify-content-center">
                    <h2 class="mt-5">Change Tracker</h2>
                </div>
                <div class="row justify-content-center">
                    <div id="changeTable"></div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script>
    async function refreshChangeTable(){
        const request = new Request("/objects");
        await fetch(request)
          .then((response) => {
            if (response.status === 200) {
                const element = document.getElementById("changeTable");
                return response.text()
            } else {
              throw new Error("Failed to retreive change table");
            }
          })
          .then((response) => {
            const element = document.getElementById("changeTable");
            element.innerHTML = response
          })
          .catch((error) => {
            console.error(error);
          });
    }
    
    setInterval(refreshChangeTable, 1500);
    
    async function setPassive(){
        const request = new Request("/control/set_passive");
        fetch(request)
        document.getElementById("passive").style.backgroundColor = 'green'
        document.getElementById("active").style.backgroundColor = 'gray'
    }
    
    async function setTracking(){
        const request = new Request("/control/set_tracking");
        fetch(request)
        document.getElementById("passive").style.backgroundColor = 'gray'
        document.getElementById("active").style.backgroundColor = 'green'
    }
</script>
</html>
