<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="/bootstrap.min.css">
    <script src="/bootstrap.min.js"></script>
    <script src="/htmx.min.js"></script>

    <title>Harmony Configuration</title>
</head>
<body>

<div class="container">
    <h1 align="center">Harmony Camera Annotation</h1>
    <div class="row" align="center">
        {cameraColumns}
    </div>
    <div class="row">
        <button class="btn btn-primary" id="clearcoord" hx-post="/annotatecams/clearcoord">Clear Coordinates</button>
        <label for"realcoord">Real Coordinates</label>
        <div id="cam{cam.camName}Coord" hx-get="/annotatecams/real/coord" hx-trigger="every 2s">{realCoord}</div>
    </div>
    {coordinateFields}
</div>
</body>
<script>
    function clearCamAZ(camName, event) {
        const formField = document.getElementById(`cam${camName}_ActiveZone`)
        formField.value = '[]'
    }
    
    function camClickListener(camName, event) {
        const imgElem = document.getElementById(`cam${camName}`)
        bounds=imgElem.getBoundingClientRect();
        const left=bounds.left;
        const top=bounds.top;
        const x = event.x - left;
        const y = event.y - top;
        const cw=imgElem.clientWidth
        const ch=imgElem.clientHeight
        const iw=imgElem.naturalWidth
        const ih=imgElem.naturalHeight
        const px=x/cw*iw
        const py=y/ch*ih
        //console.log("img element points: ", px, py)
        const x_offset = 0
        const x_scale = 1
        const image_x = (px - x_offset) * x_scale
        const y_offset = 0
        const y_scale = 1
        const image_y = (py - y_offset) * y_scale
        const coord = [~~image_x, ~~image_y]
        //send coord to server
        fetch(`/annotatecams/${camName}/coord`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(coord)
        })
    }
</script>
</html>