<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/bootstrap.min.css">
    <script src="/bootstrap.min.js"></script>
    <script src="/htmx.min.js"></script>
    
    <style>
        table, th, td {
          border: 1px solid black;
          padding: 15px;
        }
    </style>

    <title>Harmony Tracked Object Settings</title>
</head>
<body>
    <button type="button" class="btn btn-primary btn-lg mb-4" onclick="location.href='/control';">Control</button>
    <div class="container">
        {changeTableBody}
    </div>
</body>
</html>
