<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="/bootstrap.min.css">
    <script src="/bootstrap.min.js"></script>
    <script src="/htmx.min.js"></script>

    <title>Harmony Configuration</title>
</head>
<body>

<div class="container">
    <h1 align="center">Harmony Configuration</h1>
    <div class="container" align="right">
        <input class="btn-info" type="button" value="Control" onclick="window.location.href='/control'">
    </div>
    <div class="row">
        <iframe src="/console"></iframe>
    </div>
    <div class="row" align="center">
        <div class="col">
            <input type="button" class="btn-primary" value="Save State" hx-post="/config" hx-swap="none">
        </div>
        <div class="col">
            <input class="btn-secondary" type="button" value="Calibrate Cameras" onclick="window.location.href='/calibrator'">
        </div>
    </div>
     <div class="row" align="center">
        <div class="container">
            {calibrationPlanForm}
        </div>
     </div>
    {cameraConfigRows}
    <div class="container" align="left" style="margin-top: 1rem">
        <input type="button" class="btn-primary" value="Add Camera" onclick="window.location.href='/config/new_camera'">
    </div>
    <div class="container" align="right">
        <input type="button" class="btn-primary" value="Reset Harmony Machine" hx-post="/config/reset">
    </div>
</div>
</body>
<script>
    function camClickListener(camName, event) {
        const imgElem = document.getElementById(`cam${camName}`)
        bounds=imgElem.getBoundingClientRect();
        const left=bounds.left;
        const top=bounds.top;
        const x = event.x - left;
        const y = event.y - top;
        const cw=imgElem.clientWidth
        const ch=imgElem.clientHeight
        const iw=imgElem.naturalWidth
        const ih=imgElem.naturalHeight
        const px=x/cw*iw
        const py=y/ch*ih
        //console.log("img element points: ", px, py)
        const x_offset = 200
        const x_scale = 1
        const image_x = (px - x_offset) * x_scale
        const y_offset = 100
        const y_scale = 1
        const image_y = (py - y_offset) * y_scale
        const formField = document.getElementById(`cam${camName}_ActiveZone`)
        var formValue
        try {
          formValue = JSON.parse(formField.value)
        }
        catch(err) {
          formValue = []
        }
        formValue.push([~~image_x, ~~image_y])
        formField.value = JSON.stringify(formValue)
        formField.dispatchEvent(new Event('change'));
    }
</script>
</html>