<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="/bootstrap.min.css">
    <script src="/bootstrap.min.js"></script>
    <script src="/htmx.min.js"></script>

    <title>Harmony Configuration</title>
</head>
<body>

<div class="container">
    <h1 align="center">Harmony Configuration</h1>
    <h3><a href="/control">Control</a></h3>
    <div class="row">
        <iframe src="/console"></iframe>
    </div>
    <div class="row" align="center">
        <div class="col">
            <form method="post">
                <input type="submit" value="Save State" hx-post="/config" hx-swap="none">
            </form>
        </div>
        <div class="col">
            <input type="button" value="Calibrate Cameras" onclick="window.location.href='/calibrator'">
        </div>
    </div>
    {cameraConfigRows}
</div>
</body>
<script>
    {clickSubscriptions}
</script>
</html>