<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="/bootstrap.min.css">
    <script src="/bootstrap.min.js"></script>
    <script src="/htmx.min.js"></script>

    <style>
        table, th, td {
          border: 1px solid black;
          padding: 15px;
        }
    </style>
    
    <title>Observer</title>
</head>
<body>
<div class="container">
    <h1 align="center">Observer</h1>
    <div class="container">
        <div class="row">
            <div class="col" align="left">
                <input class="btn btn-danger" type="button" value="Reset Observer" hx-get="{observerURL}reset">
            </div>
            <div class="col" align="right">
                <input class="btn btn-info" type="button" value="Configurator" onclick="window.location.href='{configuratorURL}'">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col" style="min-width: 500px">
            <h2 class="mt-5">Capture Control</h2>
            <div class="container" hx-get="{observerURL}get_mode_controller" hx-trigger="every 1.5s" id="modeController">
            </div>
            <div class="container">
                <img class="img-fluid border border-info border-3" src="{observerURL}observer_console" style="border-radius: 50px; border-width: 3">
            </div>

            <div class="container justify-content-center">
                <h3 id="liveCamHeader" class="mt-5">Live Cameras (Selected {defaultCamera})</h3>
                <img id="liveCam" class="img-responsive border border-3 border-primary bg-primary" src="{observerURL}camWithChanges/{defaultCamera}" style="transform: rotate(-90deg); border-radius: 40px; max-width: 80%">
            </div>
            <div class="container justify-content-center">
                <script>
                function liveCameraClick(camNum){{
                    var header = document.querySelector("#liveCamHeader")
                    header.innerText = `Live Cameras (Selected ${camNum})`
                    var img = document.querySelector("#liveCam")
                    img.src = `{observerURL}/camWithChanges/${camNum}`
                }}
                </script>
                {cameraButtons}
            </div>
        </div>
	<div class="col" align="center" style="min-width: 500px">
            <div class="row justify-content-center">
                <h2 class="mt-5">Object Tracker</h2>
            </div>
            <hr class="mt-2 mb-3">
            <div class="row justify-content-center">
                <div id="objectInteractor" class="container">
                    <div id="objectTable" hx-get="{observerURL}objects" hx-trigger="every 1s"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
    </div>
</div>
</body>
</html>
