[Unit]
Description=DMA Observer Camera Service
After=cam0-camera-streamer

[Service]
ExecStart=/usr/bin/python3 /home/musengdir/prj/dma/local_eye_management/observerEyes.py
Restart=always
RestartSec=10                       
StandardOutput=syslog               
StandardError=syslog                
SyslogIdentifier=dmaObserverEyes
WorkingDirectory=/home/musengdir/prj/dma/observer
Environment=PYTHONUNBUFFERED=1


[Install]
WantedBy=multi-user.target
